<a href="https://colab.research.google.com/github/GYIKOO/UCIMLHackathon21/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import os
path = os.getcwd()
path

'/content'

In [ ]:
df = pd.read_csv('/content/covid_lies.csv')

In [ ]:
df.head()

   misconception_id  ... label
0                 3  ...    na
1                30  ...    na
2                57  ...    na
3                22  ...    na
4                32  ...    na

[5 rows x 5 columns]

In [ ]:
df['misconception_id'].astype('object').describe()

count     6591
unique      62
top          3
freq       286
Name: misconception_id, dtype: int64

In [ ]:
df.groupby('misconception_id')['tweet'].count()\
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False).reset_index(drop=True)

    misconception_id  count
0                  3    286
1                 25    192
2                 10    188
3                 15    145
4                  1    100
..               ...    ...
57                52     99
58                13     99
59                32     99
60                39     98
61                38     90

[62 rows x 2 columns]

In [ ]:
df.tweet_id.astype('object').describe()

count                    6591
unique                   4371
top       1233993662952067072
freq                       17
Name: tweet_id, dtype: int64

In [ ]:
df.groupby('label')['tweet'].count()\
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False).reset_index(drop=True)

  label  count
0    na   6149
1   pos    288
2   neg    154